.background {
    background: url(../../images/fundo_left.png);
    background-position: 0% 10%;
    background-size: 300% 300%;    
    width: 20vw;
    border: 1px solid pink;
    height: 40vh;
    position: relative;
    top: 30vh;
    
}