.container_slide {
    margin: 0 0 10vh 0;
}

.container_slide h4 {
    color: #e5914e;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}
.custom_toast {
    font-size: 40px;
}


.title_port {
    display: flex;
    gap: 1%;
    align-items: center;
    color: #e5914e;
    margin-bottom: 0.5vh;
}

.title_port p {
    width: 6%;
    font-size: 1.2rem;
}

.title_port span {
    display: block;
    height: 2px;
    width: 93%;
    background-color: #e5914e;
}

.btn_projetos {
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 1rem;
    text-decoration: none;
    margin-top: 3vh;
    border: 1px solid #e5914e;
    padding: 0.5rem 0;
    font-weight: 600;
    background: linear-gradient(87deg, rgba(229, 145, 78, 0.6559873949579832) 9%, rgba(0, 0, 0, 0.01) 45%);
    color: #fff;
    transition: 0.8s ease-in-out;
    font-size: 1.3rem;

    outline: 1px solid;
    outline-color: #e5914e;
    outline-offset: 0px;
    text-shadow: none;


}

.btn_projetos:hover {
    background-color: #e5914e;
    color: black;
    cursor: pointer;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;

}

.swiper {
    padding: 0 0 0 0;
    z-index: 0;    
    
}

.swiper-slide {
    margin-right: 2px;
}

.swiper-slide:last-child {
    position: relative;
    right: 2px;
    
}

.swiper-pagination-bullet {
    background-color: #e5914e;
    height: 3px;
    border-radius: 0;
}

.swiper-button-prev,
.swiper-button-next {
    color: #e5914e;
    background-color: black;
    border-radius: 50%;
    padding: 1rem 1rem;
    width: max-content;
    height: max-content;
    opacity: 0.55;
}

.swiper-button-next {
    right: 1.5vw;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 15px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.15;
    cursor: auto;
    pointer-events: auto;
}

.slide-item {
    width: 97%;
    height: 170px;
    border: solid 2px #e5914e;
    border-radius: 1rem;
    ;
}


@media (max-width:890px) {
    .title_port p {
        width: 8%;
    }

    .title_port span {
        width: 91%;
    }
}

@media (max-width:720px) {
    .title_port p {
        width: 11%;
    }

    .title_port span {
        width: 88%;
    }

    .slide-item {
        height: 22vh;
    }
}

@media (max-width:620px) {
    .slide-item {
        height: 27vh;
    }
}

@media (max-width:530px) {
    .title_port p {
        width: 14%;
    }

    .title_port span {
        width: 85%;
    }

    .slide-item {
        height: 25vh;
    }
}

@media (max-width:430px) {
    .title_port p {
        width: 16%;
    }
    .title_port span {
        width: 83%;
    }

    .slide-item {
        height: 22vh;
    }
}

@media (max-width:380px) {
    .title_port p {
        width: 19%;
    }

    .title_port span {
        width: 80%;
    }

    
    .slide-item {
        height: 20vh;
    }
}

@media (min-width:1280px) {
    .slide-item {
        height: 200px;
    }
}

@media (min-width:2000px) {
    .slide-item {
        height: 220px;
    }

    .swiper-slide {
        margin-right: 2px;
    }

    .btn_projetos {
        font-size: 1.3rem;
    }

}